* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav-input {
    font-size: 15px;
    color: grey;
    padding: 0.75rem;
    border: 0;
    border-color: transparent;
}

/* försök ordna så att border försvinner i fokus, även text */
input :focus {
    border: 0;
    outline: none!important;
}

#search-icon {
    color: grey;
    border: 1px solid lightgray;
    border-radius: 7px;
    padding: 0.75rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-btns a {
    display: flex;
    text-decoration: none;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 16px;
    border-radius: 7px;
}

#login-btn {
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 7px;
    cursor: pointer;
}

#signup-btn {
    background-color: blueviolet;
    color: white;
    border: 1px solid blueviolet;
    border-radius: 7px;
    cursor: pointer;
}

#lang-btn {
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 7px;
    cursor: pointer;
}
