* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
}

button {
    background-color: white;
    border: 1px solid blueviolet;
    cursor: pointer;
    border-radius: 5px;
}

#nav-btns a {
    display: flex;
    text-decoration: none;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 16px;
    color: blueviolet;
}

#signup-btn a {
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
}

#lang-btn a {
    padding: 0.6rem;
}

#nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav-input {
    font-size: 15px;
    color: grey;
    padding: 0.75rem;
    border: 0;
    border-color: transparent;
}

/* försök ordna så att border försvinner i fokus, även text */
input :focus {
    border: 0;
    outline: none!important;
}

#search-icon {
    color: grey;
    border: 1px solid lightgray;
    border-radius: 7px;
    padding: 0.75rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
}
